<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск известных проблем в лог файлах</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <h1>Поиск известных проблем в лог файлах</h1>

    <div class="navbar">
        <a href="/">Главная</a>
        <a href="/mass_operations">Масс операции</a>
        <a href="/sowanalyzer">SOWAnalyzer</a>
    </div>

    <button onclick="reloadData()">
        🔄 Перечитать лог
    </button>

    <div id="fileLabel"></div>
    <div id="lds-roller" style="display: none;"><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    
    <table id="resultTable">
        <thead>
            <tr>
                <th>Совпадения</th>
                <th>rqUid</th>
                <th>Решения</th>
                <th>Тег</th>
                <th>sessionId</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>

    <!-- Кнопки -->
    <button onclick="addMatch()">
        ➕ Добавить совпадение
    </button>
    
    <button onclick="addToSummary()">
        ➕ Добавить решение
    </button>
    
    <button onclick="addRqUid()">
        ➕ Добавить rqUid
    </button>
    
    <button onclick="addRecommendationBBMO()">
        ➕ Добавить рекомендацию ББМО
    </button>
    
    <button onclick="addRecommendationRestart()">
        ➕ Добавить рекомендацию перезапуска
    </button>
    
    <button onclick="copyTag()">
        📋 Копировать ТЕГ
    </button>
    
    <button onclick="copySolution()">
        📋 Копировать итог
    </button>

    <button onclick="reloadData()">
        🔄 Перечитать лог
    </button>

    <textarea id="summaryText" rows="4" placeholder="Добавляйте данные в эту форму с помощью кнопок добавления, предварительно, выделив нужную строку"></textarea>
</body>
</html>
