<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Масс операции</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mass_oper.css') }}">
    <script src="{{ url_for('static', filename='js/mass_oper.js') }}"></script>
</head>
<body>
    <h1>Массовые операции</h1>

    <div class="navbar">
        <a href="/">Главная</a>
        <a href="/mass_operations">Масс операции</a>
        <a href="/sowanalyzer">SOWAnalyzer</a>
    </div>

    <label for="fileInput">📂 Загрузка лога для извлечения сессий</label>
    <input type="file" id="fileInput" accept=".txt" onchange="handleFile()">
    <label for="fileInputrqUID">📂 Загрузка лога для извлечения rqUID</label>
    <input type="file" id="fileInputrqUID" accept=".txt" onchange="handleFilterqUID()">

    <h2>Результаты</h2>
    <div id="downloadIconContainer"></div>

</body>
</html>
